@media (min-width: 600px) {

    .greetings {
        background-color:#FFFBF7;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .greetings-phrase {
        color: #AAAAAA;
        font-family: 'Galada', cursive;
        font-size: 4em;
    }

}

@media (max-width: 600px) {

    .greetings {
        background-color:#FFFBF7;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .greetings-phrase {
        color: #AAAAAA;
        font-family: 'Galada', cursive;
        font-size: 2.8em;
    }

}