@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');



@media (min-width: 600px) {

    .home {
        background-color: rgb(113, 111, 243);
        /*background-repeat: no-repeat;
        background-size: cover;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation-duration: 5s;
        animation-name: zoomIn;
    }

    .home-content {
        padding: 50px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 30vh;
        min-width: 30vw;
        border-radius: 20px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        animation-duration: 2s;
        animation-name: zoomIn;
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .home-content-a {
        display: flex;
    }

    .home-content-b {
        display: flex;

    }


    .date-and-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-icon {
        height: auto;
        max-width: 5vw;
        animation-duration: 3s;
        animation-name: ringsSwing;
        animation-delay: 2s;
    }

    @keyframes ringsSwing {
        0% {
            transform: rotateZ(0);
        }

        16% {
            transform: rotateZ(0.2turn);
        }

        32% {
            transform: rotateZ(0);
        }

        48% {
            transform: rotateZ(-0.2turn);
        }

        64% {
            transform: rotateZ(0);
        }

        80% {
            transform: rotateZ(0.2turn);
        }

        96% {
            transform: rotateZ(0);
        }

    }

    .home-phrase {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-phrase-text {
        font-size: 4em;
        font-family: 'Galada', cursive;
        color: #B2C5B7;
    }

    .home-phrase-date {
        font-size: 4em;
        font-family: 'Denk One', sans-serif;
        color: #B2C5B7;
    }

    .home-date {
        font-family: 'Galada', cursive;
        padding-top: 200px;
        font-size: 3em;
        text-shadow: none;
        color: #2A4671;
    }

    .home-title {
        display: flex;
        gap: 8px;
    }

    .home-title>h2 {
        margin: 0px;
        font-size: 10em;
        color: #FFF;
        font-family: 'Galada', cursive;
        font-weight: 300;
    }

    .middle-title {
        margin: 0px;
        padding-top: 10px;
        font-size: 8em;
        color: #FFF;
        font-family: 'GFS Didot', serif;
        transform: rotate(15.13deg);
    }

}


@media (max-width: 600px) {
    .home {
        background-color: rgb(113, 111, 243);
        min-height: 90vh;
        /*background-repeat: no-repeat;
        background-size: cover;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-duration: 5s;
        animation-name: zoomIn;
    }

    .home-content {
        padding: 64px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation-duration: 2s;
        animation-name: zoomIn;
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .home-content-a {
        padding: 0px 0 0 0;
    }

    .home-content-b {
        padding: 0 0 60px 0;
    }

    .date-and-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-phrase {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-phrase-text {
        font-size: 1em;
        font-family: 'Galada', cursive;
        color: #B2C5B7;
        margin: 0;
    }

    .home-phrase-date {
        font-size: 1em;
        font-family: 'Denk One', sans-serif;
        color: #B2C5B7;
        margin: 0;
    }


    .home-icon {
        height: auto;
        max-width: 10vw;
        animation-duration: 3s;
        animation-name: ringsSwing;
        animation-delay: 2s;
    }

    @keyframes ringsSwing {
        0% {
            transform: rotateZ(0);
        }

        16% {
            transform: rotateZ(0.2turn);
        }

        32% {
            transform: rotateZ(0);
        }

        48% {
            transform: rotateZ(-0.2turn);
        }

        64% {
            transform: rotateZ(0);
        }

        80% {
            transform: rotateZ(0.2turn);
        }

        96% {
            transform: rotateZ(0);
        }

    }


    .home-date {
        font-family: 'Galada', cursive;
        margin-top: 50px;
        font-size: 1.5em;
        text-shadow: none;
        color: #2A4671;
    }

    .home-title {
        display: flex;
        gap: 8px;
    }

    .home-title>p {
        margin: 0px;
        font-size: 2.4em;
        color: #FFF;
        font-family: 'Galada', cursive;
        font-weight: 300;
    }

    .middle-title {
        margin: 0;
        font-size: 2.7em;
        color: #FFF;
        font-family: 'GFS Didot', serif;
    }



}