@media (min-width: 600px) {

    .last-photo {
        background-image: url(../img/last-photo-background.webp);
        background-repeat: no-repeat;
        background-size: 1000px;
        background-position: 50% -50px;
        height: 800px;
        margin-bottom: 100px;
    }

    

}

@media (max-width: 600px) {

    .last-photo {
        background-image: url(../img/last-photo-background.webp);
        background-repeat: no-repeat;
        background-size: 450px;
        background-position: 0px 0px;
        min-height: 500px;
    }

}